body {
    margin: 0px;
    padding: 0px;
    font-family:'comic Sans MS'
}
.encabezado {
    background-color: hsla(0, 4%, 91%, 0.979);
    border: 1px solid #000000cb;
    width: 101%;
    margin-top: -20px;
    margin-bottom: -1.2%;
    table-layout:fixed;
    text-align: center;
    padding: 1%;
}
.img1 {
    width: 100px;
    height: 70px;
    margin-top: 2%;
    margin-left: -55%;
}
.encabezado .buscar input[type="text"] {
    font-family:'comic Sans MS';
    text-align: left;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 20px;
}
.encabezado .enviar input[type="submit"] {
    background-color: hsla(0, 4%, 91%, 0.979);
    font-family:'comic Sans MS';
    color: #28a745;
    border-color: #28a745;
    padding: 15px 20px;
    border-radius: 15px;
    margin-left: 35%;
    font-size: 20px;
    font-weight: bold;
}
.td1 {
    font-weight: bold;
    font-size: 30.5px;
}
.td2 {
    font-weight: bold;
    font-size: 23px;
}
.td3 {
    font-size: 25px;
    color: #00000086;
}
.td4 {
    font-size: 25px;
    color: #00000086;
}
.td5 {
    font-size: 22px;
    color: #929090fa;
}
.img2 {
    width: 100%;
    height: 500px;
    margin-top: -1%;
}
.p1 {
    text-align: center;
    font-size: 25px;
    margin-top: -1.6%;
}
.h1 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: -1%;
}
.form {
    text-align: center;
}
.final input[type="text"] {
    width: 40%;
    font-family:'comic Sans MS';
    text-align: left;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 20px;
}
.unidades {
    display: flex;
    justify-content: center;
    margin: 10px 26%;
    margin-top: -1%;
    gap: 20px;
}
.unidad {
    text-align: center;
    font-size: 18px;
}
.unidad input[type="text"] {
    margin: 100px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    text-align: left;
    margin-bottom: -20px;
    margin: -100%;
}
.boton-enviar {
    background-color: #007bff;
    color: white;
    width: 40%;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.boton-enviar:hover {
    background-color: #0056b3;
}
.right {
    margin-left: 110%;
    font-size: 130%;
}
.right2 {
    margin-left: 87%;
    font-size: 130%;
}